Source: vci-ephemeral
Section: net
Priority: optional
Maintainer: NuDanOS Maintainers <jon@fernandez.tech>
Build-Depends: debhelper-compat (= 13),
 dh-golang,
 dh-vci,
 golang-any,
 golang-github-danos-encoding-rfc7951-dev,
 golang-github-danos-vci-dev,
 golang-github-fsnotify-fsnotify-dev,
 golang-jsouthworth-dyn-dev,
 golang-jsouthworth-etm-dev,
 golang-jsouthworth-immutable-dev
Standards-Version: 4.7.2
Rules-Requires-Root: no
Vcs-Git: https://github.com/nudanos/ephemerad.git
Vcs-Browser: https://github.com/nudanos/ephemerad

Package: ephemerad
Architecture: any
Depends: ${shlibs:Depends}
Description: Ephemeral VCI component manager
 A daemon that allows VCI components to be implemented by a set of scripts

Package: ephemerad-v1-yang
Architecture: all
Depends: ephemerad (>= ${binary:Version}), ${yang:Depends}
Section: admin
Description: Ephemeral component manager YANG definition
 The YANG definition for a ephemeral component manager.
